{
  "extends": "airbnb-base",
  "root": true,
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "semi": 2,
    "no-console": 0,
    "linebreak-style": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0
  }
}